@import "../variable";

#page-home {
  .app-slide {
    margin: 50px 0;
  }

  .section {
    &.start {
      position: relative;
      height: 100vh;
      overflow: hidden;

      .diamond {
        width: 50%;
        height: 100%;
        background-color: $diamondGray;
        border-radius: 110px;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(45deg) translateY(-250px);
      }

      .start-content {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;

        .start-inner {
          display: flex;
          align-items: center;
          height: 100%;

          .inner-content {
            .title {
              color: #4966c0;
              font-size: 20px;
              font-weight: 600;
              font-stretch: normal;
              font-style: normal;
            }

            .text {
              font-size: 30px;
              font-weight: 800;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.67;
              color: #192040;

              .blue {
                color: #4966c0;
              }
            }

            .subText {
              font-size: 13px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 2;
              color: #9b9caa;
            }

            .buttons {
              display: flex;
              align-items: center;
              padding-top: 20px;

              .app-button {
                margin-right: 15px;
                font-size: 11px;

                &.white {
                  margin-left: 15px;
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }


    &.instagram {
      background-color: $standartBlue;
      padding: 30px 0;

      .app-slide {
        margin: 0;
      }

      @include screen('maxTablet') {
        .app-card {
          height: 250px;
        }
      }
    }

    @include screen('mobile') {
      &.start {
        height: auto;

        .start-content {
          .start-inner {
            height: auto;
            padding-top: 20px;

            .inner-content {
              .text {
                font-size: 20px;
              }

              .buttons {
                padding-top: 0;
              }
            }
          }
        }
      }
      &.instagram {
        .app-card {
          margin: 10px 0;
        }
      }
    }
    @include screen('miniMobile') {
      &.start {
        .start-content {
          .start-inner {
            .inner-content {
              .title {
                padding-top: 10px;
              }
              .text {
                line-height: normal;
              }

              .subText {
                line-height: normal;
              }

              .buttons {
                .app-button {
                  padding: 4px 10px;
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }


}