#app-navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding-top: 15px;


  .nav-search {
    .search-input {
      display: flex;
      height: 40px;
      box-shadow: 2px 5px 20px 0 rgba(0, 0, 0, 0.16);
      border-radius: 6px;
      overflow: hidden;
      background-color: #ffffff;
      position: relative;


      .select {
        //width: 35%;
        border-radius: 0;
        border: 0;
        outline: none !important;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }

      .input {
        //width: calc(65% - 1px);
        border: 0;
        outline: none !important;
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        width: 100%;

        &::placeholder {
          color: rgba(0, 0, 0, 0.16);
          font-size: 12px;
        }
      }

      .line {
        display: block;
        width: 1px;
        height: 100%;
        margin: 0 10px;
        background-color: #f0f2f6;
      }

      .submit {
        background-color: transparent;
        border: 0;
        outline: none;
        padding-right: 10px;
        i {
          color: rgba(0, 0, 0, 0.16);
          font-size: 12px;
        }
      }
    }
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .app-link {
      margin-left: 30px;
    }
  }
}