@import "../variable";

.app-slide {
  .slide-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .icon {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $standartBlue;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: #ffffff;
        }

        &.white {
          background-color: #ffffff;

          i {
            color: $standartBlue;
          }
        }

      }

      .title {
        margin: 0;
        padding-left: 15px;
        font-size: 14px;
        font-weight: 600;
        color: $standartBlue;

        &.white {
          color: #ffffff;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .filter {
        //margin-right: 10px;
      }

      .line {
        display: inline-block;
        width: 2px;
        height: 20px;
        background-color: #d8dae0;
        margin: 0 10px;
      }

      .nav {
        .slide-btn {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 1px solid $borderGray;
          transition: 300ms ease-out;
          outline: none;

          i {
            color: $standartBlue;
          }

          &:hover {
            background-color: $standartBlue;

            i {
              color: #ffffff;
            }
          }

          &.prev {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .slide-area {
    padding-top: 40px;
  }

  &.home {
    display: block;
    position: relative;
    margin: 0 !important;
    height: 100%;
    //overflow: hidden;
    .home-slide-inner {
      width: 100%;
      position: absolute;
      bottom: 10%;
    }
    .slide {
      .owl-item {
        padding: 8px;
        background-color: #ffffff;
        border-radius: 4px;
        @include box-shadow();
      }
    }
    .top-slide-area {
      //display: flex;
      position: relative;
      left: 120px;
      .slide {
        .owl-item {
          opacity: 0.3;
          transition: all 300ms ease;
          &.op1 {
            opacity: 1;
          }
        }
      }
    }
    .slide-area {
      width: 95%;

      .slide-nav {
        display: flex;
        margin-top: 20px;
        .app-button {
          padding: 5px 10px;
        }

        #home-slide-dots {
          width: 100%;
          padding: 0 20px;
          display: flex;
          align-items: center;
          .owl-dot {
            width: 100%;
            height: 4px;
            background-color: $homeSlideDot;
            outline: none !important;
            border: 0;

            &.active {
              background-color: $standartBlue;
            }
          }
        }
      }
    }
    @include screen('maxTablet'){
      .top-slide-area {
        display: none !important;
      }
    }

  }
  @include screen('mobile'){
    .slide-info {
      .right {
        .filter, .line {
          display: none;
        }
      }
    }
  }
}