{% macro field(obj) %}
    <div class="app-steps">

        <div class="step-inner">
            <ul class="list">
                <li class="item">
                    <a class="link" href="#">
                        <span class="numb">1</span>
                        <span class="text">HESAP TÜRÜ</span>
                    </a>
                </li>
                <li class="item">
                    <a class="link active" href="#">
                        <span class="numb">2</span>
                        <span class="text">ÜYELİK BİLGİLERİ</span>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <span class="numb">3</span>
                        <span class="text">E-POSTA ONAYLAMA</span>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <span class="numb">4</span>
                        <span class="text">CEP TELEFON ONAYLAMA</span>
                    </a>
                </li>
                <li class="item">
                    <a class="link" href="#">
                        <span class="numb">5</span>
                        <span class="text">KAYIT TAMAMLANDI</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endmacro %}